<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation"
        class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="./">
                <img class="navbar-brand-dark" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                <img class="navbar-brand-light" src="/static/assets/img/brand/light.svg" alt="Logo light">
            </a>
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="/static/assets/img/brand/dark.svg">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse"
                                data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <!--<li class="nav-item">
                        <a href="/projects-dashboard.html" class="nav-link" id="homelink">
                            Projects
                        </a>
                    </li>-->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false"
                            data-bs-toggle="dropdown">
                            Profile
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4"
                            aria-labelledby="frontPagesDropdown">
                            <div class="row">
                                <!--<div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">Top Projects</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/image-captioning.html">Image to Speech</a>
                                            </li>
                                        </ul>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/auto-damage.html">Car Damage</a>
                                            </li>
                                        </ul>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/projects-dashboard.html">Rasa Chatbot</a>
                                            </li>
                                        </ul>
                                    </div>-->
                                <!--<div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">Developer</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/about-me.html">About Faraz</a>
                                            </li>
                                        </ul>-->
                                <div class="col-4">
                                    <a href="/about-me.html">
                                        <img src="/static/assets/img/faraz.jpeg"
                                            class="card-img-top rounded-top rounded-bottom" /></a>
                                </div>
                                <div class="col-8">
                                    <div class="row"><br /><br /></div>
                                    <div class="row">
                                        <ul class="list-inline text-center mb-0">
                                            <li class="list-inline-item">
                                                <a class="icon icon-md icon-github me-3" href="/about-me.html">
                                                    <span class="fab fa-codepen"></span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-md icon-github me-3"
                                                    href="https://github.com/fhashmi10" target="_blank">
                                                    <span class="fab fa-github"></span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-md icon-linkedin me-3"
                                                    href="https://www.linkedin.com/in/farazhashm/" target="_blank">
                                                    <span class="fab fa-linkedin"></span>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="icon icon-md icon-file me-3"
                                                    href="/static/assets/downloads/Faraz_Hashmi_Resume.pdf" target="_blank">
                                                    <span class="fas fa-file-download"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>