{% extends "layouts/base.html" %}

{% block title %} Machine Learning {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>
    <div class="section-header bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <h3 class="text-center">Math Score Prediction</h3>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <!-- Form -->
    <form action="{{ url_for('predict')}}" method="POST" enctype="multipart/form-data">
        <!-- Section -->
        <div class="section section-md pt-4">
            <div class="container">
                <!--<div class="text-center">
                        <label class="form-label">Enter student details</label>
                    </div>-->
                <div class="row mb-4 mb-lg-5 justify-content-center">
                    <div class="col-lg-2 col-sm-3">
                        <!--<label class="my-1 me-2" for="gender">Gender</label>-->
                        <label class="my-1 me-2">Gender</label>
                        <!-- <select class="form-select" name="col_gender" id="gender" placeholder="Select Gender" required> -->
                            <!-- <option class="placeholder" selected disabled value="">Select Gender</option> -->
                        <select class="form-select" name="col_gender" id="gender" required>
                            <option value="male" selected>Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <label class="my-1 me-2">Race</label>
                        <select class="form-select" name="col_race_ethnicity" required>
                            <option selected>group A</option>
                            <option>group B</option>
                            <option>group C</option>
                            <option>group D</option>
                            <option>group E</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <label class="my-1 me-2">Parent Education</label>
                        <select class="form-select" name="col_parental_level_of_education" required>
                            <option selected>associate's degree</option>
                            <option>bachelor's degree</option>
                            <option>high school</option>
                            <option>master's degree</option>
                            <option>some college</option>
                            <option>some high school</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4 mb-lg-5 justify-content-center">
                    <div class="col-lg-3 col-sm-5">
                        <label class="my-1 me-2">Lunch Type</label>
                        <select class="form-select" name="col_lunch" required>
                            <option selected>free/reduced</option>
                            <option>standard</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-sm-5">
                        <label class="my-1 me-2">Prep Course</label>
                        <select class="form-select" name="col_test_preparation_course" required>
                            <option selected>none</option>
                            <option>completed</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4 mb-lg-5 justify-content-center">
                    <div class="col-lg-3 col-sm-5">
                        <label class="my-1 me-2">Reading score</label>
                        <input class="form-control" type="number" name="col_reading_score"
                            value="65" min='0' max='100' required />
                    </div>
                    <div class="col-lg-3 col-sm-5">
                        <label class="my-1 me-2">Writing Score</label>
                        <input class="form-control" type="number" name="col_writing_score"
                            value="65" min='0' max='100' required />
                    </div>
                </div>
                <div class="row mb-4 mb-lg-5 justify-content-center">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <input class="btn mb-2 mr-2 btn-primary" type="submit" value="Predict" required />
                    </div>
                </div>
                <div class="row mb-4 mb-lg-5 justify-content-center">
                    <div class="col-lg-4 col-sm-6 text-center">

                        <label class="form-label">The prediction is {{results}}.</label>

                    </div>
                </div>
            </div>
        </div>
        <!-- End of Section -->
    </form>
    <!-- End of Form -->
</main>

{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}